{% include('header.html') %}
<div class="container">
<h1 class="text-center text-success">This is a Job releted web app </h1>
<p class="lead badge">
  
  Lorem ipsum d
  olor sit amet, consectetur adipisicing elit. Quod
  porro iure laborum rem nulla do
  loribus ducimus quam, officia,
  delectus blanditiis c
  umque ut modi nostrum eaque labore
  consectetur enim illum sol
  uta voluptates, minima quisquam! 
  Fuganumquam maiores, quos ratione, est placeat reiciendis eli
  gendi ipsum soluta unde minus corporis 
  perferendisitaque,
  odit quod natus rerum 
  molestiae doloremque et ipsam a! Autem
  natus qui, reprehenderit repudiandae consectetur
  modi minima cupiditate. Tempora assumenda commod
  i quaerat
  debitis corporis ab, facere quam, laudantium eos et quibusdam
  aliquid modi iure incidunt perferendis doloribus, velit qua
  s
  doloremque praesentium necessitatibus. Adipisci expedita tempore
  asperiores debitis 
  error id eveniet. Nostrum sit laud
  

antiuminctio, volup
tatem repellendus ipsa ducimus
asperiores dolorum
 officiis temporibus autem magni dolore, 
omnis
vero labore est repellat non quo.
  
  
  
</p>

</div>
{% include('footer.html') %}
