<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>HTML</title>
  
  <!-- HTML -->
  

  <!-- Custom Styles -->
  <link rel="stylesheet" href="/static/boot.css">
  <link rel="stylesheet" href="/static/app.css">
     <!-- Custom Styles -->
  <link rel="stylesheet" href="/static/media.css">
 
</head>

<body style="overflow-x:hidden">



<div class="men"><button onclick="ou()">&nang;</button></div>
  <nav><a href="/">
   <img src="/static/javascript.svg" alt="aa"></a>
   <button onclick="cou()">&times;</button>

   <ul type="none">
    <li><a href="/" class="active">Home</a></li>
    <li><a href="/about">About</a></li>



   </ul>
   
   
   
  </nav>
 <header>
  <div class="slid-cont">
   <div id="slider">
    <img src="/static/image/banner-img-1.jpg" alt="banner" class="slid">
    <img src="/static/image/banner-img-2.jpg" alt="banner" class="slid">
    <img src="/static/image/banner-img-1.jpg" alt="banner" class="slid">
    <img src="/static/image/banner-img-2.jpg" alt="banner" class="slid">
    <img src="/static/image/banner-img-1.jpg" alt="banner" class="slid">
    <img src="/static/image/banner-img-1.jpg" alt="banner" class="slid">
    <img src="/static/image/banner-img-2.jpg" alt="banner" class="slid">
    <img src="/static/image/banner-img-1.jpg" alt="banner" class="slid">
    <img src="/static/image/banner-img-2.jpg" alt="banner" class="slid">
    <img src="/static/image/banner-img-1.jpg" alt="banner" class="slid">
    <img src="/static/image/banner-img-2.jpg" alt="banner" class="slid">
    <img src="/static/image/banner-img-2.jpg" alt="banner" class="slid">
   </div>
   <div class="slid-btn">
    
      <button id="pre">&leftarrowtail;</button>
          <button id="nxt">&rightarrowtail;</button>

   </div>
   
  
  </div></header>
