{%include("header.html")%}
{%include("nav.html")%}
<h1>Job detail</h1>
<div class="container">
<ul class = "list-group">

   <li class = "list-group-item">
      <span class = "badge">Job Tittle: </span>
      &nbsp;   &nbsp;   &nbsp;   &nbsp;{{data[0][1]}}
   </li>
<li class = "list-group-item">
      <span class = "badge">Location : </span>
      &nbsp;   &nbsp;   &nbsp;   &nbsp;{{data[0][2]}}
   </li>

   <li class = "list-group-item">
      <span class = "badge">Salary: </span>
      &nbsp;   &nbsp;   &nbsp;   &nbsp;{{data[0][3]}}{{data[0][4]}}
   </li>

   

   <li class = "list-group-item">
      <span class = "badge">Company Name: </span>
      &nbsp;   &nbsp;   &nbsp;   &nbsp;{{data[0][5]}}
   </li>

   <li class = "list-group-item">
      <span class = "badge">Responsibility : </span>
      &nbsp;   &nbsp;   &nbsp;   &nbsp;
            <ul>
      {% for i in data[0][6].split("\n")%}
<li>{{i}}</li>
{%endfor%}
</ul>
   </li>

   <li class = "list-group-item">
      <span class = "badge">Prerequisite : </span>
      &nbsp;   &nbsp;   &nbsp;  
      <ol>
      {% for i in data[0][7].split("\n")%}
<li>{{i}}</li>
{%endfor%}
</ol>
   </li>


<form class = "form-horizontal" role = "form" method='POST' action="/apply">
   
      <div class = "col-sm-10">
         <input type = "hidden" class = "form-control" id = "page_id" value = "{{page_id}}" name="job_id">
      </div>
   </div>
   
   <div class = "form-group">
      <label for = "fullname" class = "col-sm-2 control-label" >Full Name</label>
		
      <div class = "col-sm-10">
         <input type = "text" class = "form-control" id = "fullname" placeholder = "Enter First Name" name="fullname" required>
      </div>
   </div>
   
   <div class = "form-group">
      
		
      <div class = "col-sm-10">
         <input type = "email" class = "form-control" id = "email" placeholder = "Enter Email" required name="email">
      </div>
   </div>
   
  
      <div class = "col-sm-10">
         <input type = "url" class = "form-control" id = "linkdin" placeholder = "Enter Linkdin Url" required name="linkdin_url" >
      </div>
   </div>
   
      <div class = "col-sm-10">
         <input type = "url" class = "form-control" id = "emsil" placeholder = "Enter Resume url" required name="resume_url">
      </div>
   </div>
   
      <div class = "col-sm-10">
         <input type = "password" class = "form-control" id = "emsil" placeholder = "password" required name="password">
      </div>
   </div>
   
    
         
   <div class = "form-group">
      <div class = "col-sm-offset-2 col-sm-10">
         <button type = "submit" class = "btn btn-success btn-lg">Sign in</button>
      </div>
   </div>
	
</form>




{% for i in range(1,8)%}

{{i}}
{%endfor%}




</ul>
</div>
{%include("footer.html")%}