
<h1 class="text-center text-warning bg-default">Hire Compeny</h1>
  <section>
  <div class="advatage">
   <div class="advan">
    <img src="/static/javascript.svg" alt="">
    <h3>Facebook</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae voluptatum eius officiis, consequuntur placeat. Velit suscipit ullam repudiandae impedit voluptates rem aliquam eos ex placeat laboriosam architecto, nostrum culpa corporis atque cupiditate cum repellendus amet obcaecati sunt, neque aliquid perferendis quidem. Labore iste dolorem iusto consequuntur ab nostrum at inventore.</p>
   </div>
   <div class="advan">
    <img src="/static/javascript.svg" alt="">
    <h3>Google</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae voluptatum eius officiis, consequuntur placeat. Velit suscipit ullam repudiandae impedit voluptates rem aliquam eos ex placeat laboriosam architecto, nostrum culpa corporis atque cupiditate cum repellendus amet obcaecati sunt, neque aliquid perferendis quidem. Labore iste dolorem iusto consequuntur ab nostrum at inventore.</p>
   </div>   <div class="advan">
       <img src="/static/javascript.svg" alt="">
       <h3>Jovian</h3>
       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae voluptatum eius officiis, consequuntur placeat. Velit suscipit ullam repudiandae impedit voluptates rem aliquam eos ex placeat laboriosam architecto, nostrum culpa corporis atque cupiditate cum repellendus amet obcaecati sunt, neque aliquid perferendis quidem. Labore iste dolorem iusto consequuntur ab nostrum at inventore.</p>
      </div>   <div class="advan">
          <img src="/static/javascript.svg" alt="">
          <h3>I.B.M</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae voluptatum eius officiis, consequuntur placeat. Velit suscipit ullam repudiandae impedit voluptates rem aliquam eos ex placeat laboriosam architecto, nostrum culpa corporis atque cupiditate cum repellendus amet obcaecati sunt, neque aliquid perferendis quidem. Labore iste dolorem iusto consequuntur ab nostrum at inventore.</p>
         </div>   <div class="advan">
             <img src="/static/javascript.svg" alt="">
             <h3>H.C.L</h3>
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae voluptatum eius officiis, consequuntur placeat. Velit suscipit ullam repudiandae impedit voluptates rem aliquam eos ex placeat laboriosam architecto, nostrum culpa corporis atque cupiditate cum repellendus amet obcaecati sunt, neque aliquid perferendis quidem. Labore iste dolorem iusto consequuntur ab nostrum at inventore.</p>
            </div>   <div class="advan">
                <img src="/static/javascript.svg" alt="">
                <h3>Apple</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae voluptatum eius officiis, consequuntur placeat. Velit suscipit ullam repudiandae impedit voluptates rem aliquam eos ex placeat laboriosam architecto, nostrum culpa corporis atque cupiditate cum repellendus amet obcaecati sunt, neque aliquid perferendis quidem. Labore iste dolorem iusto consequuntur ab nostrum at inventore.</p>
               </div>   <div class="advan">
                   <img src="/static/javascript.svg" alt="">
                   <h3>Netflix</h3>
                   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae voluptatum eius officiis, consequuntur placeat. Velit suscipit ullam repudiandae impedit voluptates rem aliquam eos ex placeat laboriosam architecto, nostrum culpa corporis atque cupiditate cum repellendus amet obcaecati sunt, neque aliquid perferendis quidem. Labore iste dolorem iusto consequuntur ab nostrum at inventore.</p>
                  </div>   <div class="advan">
                      <img src="/static/javascript.svg" alt="">
                      <h3>Massenger</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae voluptatum eius officiis, consequuntur placeat. Velit suscipit ullam repudiandae impedit voluptates rem aliquam eos ex placeat laboriosam architecto, nostrum culpa corporis atque cupiditate cum repellendus amet obcaecati sunt, neque aliquid perferendis quidem. Labore iste dolorem iusto consequuntur ab nostrum at inventore.</p>
                     </div>   <div class="advan">
                         <img src="/static/javascript.svg" alt="">
                         <h3>Microsoft</h3>
                         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae voluptatum eius officiis, consequuntur placeat. Velit suscipit ullam repudiandae impedit voluptates rem aliquam eos ex placeat laboriosam architecto, nostrum culpa corporis atque cupiditate cum repellendus amet obcaecati sunt, neque aliquid perferendis quidem. Labore iste dolorem iusto consequuntur ab nostrum at inventore.</p>
                        </div>   <div class="advan">
                            <img src="/static/javascript.svg" alt="">
                            <h3>Amazon</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae voluptatum eius officiis, consequuntur placeat. Velit suscipit ullam repudiandae impedit voluptates rem aliquam eos ex placeat laboriosam architecto, nostrum culpa corporis atque cupiditate cum repellendus amet obcaecati sunt, neque aliquid perferendis quidem. Labore iste dolorem iusto consequuntur ab nostrum at inventore.</p>
                           </div>   <div class="advan">
                               <img src="/static/javascript.svg" alt="">
                               <h3>Sportify</h3>
                               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae voluptatum eius officiis, consequuntur placeat. Velit suscipit ullam repudiandae impedit voluptates rem aliquam eos ex placeat laboriosam architecto, nostrum culpa corporis atque cupiditate cum repellendus amet obcaecati sunt, neque aliquid perferendis quidem. Labore iste dolorem iusto consequuntur ab nostrum at inventore.</p>
                              </div>   <div class="advan">
                                  <img src="/static/javascript.svg" alt="">
                                  <h3>Linkdin</h3>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae voluptatum eius officiis, consequuntur placeat. Velit suscipit ullam repudiandae impedit voluptates rem aliquam eos ex placeat laboriosam architecto, nostrum culpa corporis atque cupiditate cum repellendus amet obcaecati sunt, neque aliquid perferendis quidem. Labore iste dolorem iusto consequuntur ab nostrum at inventore.</p>
                                 </div>   <div class="advan">
                                     <img src="/static/javascript.svg" alt="">
                                     <h3>Twitter</h3>
                                     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae voluptatum eius officiis, consequuntur placeat. Velit suscipit ullam repudiandae impedit voluptates rem aliquam eos ex placeat laboriosam architecto, nostrum culpa corporis atque cupiditate cum repellendus amet obcaecati sunt, neque aliquid perferendis quidem. Labore iste dolorem iusto consequuntur ab nostrum at inventore.</p>
                                    </div>   <div class="advan">
                                        <img src="/static/javascript.svg" alt="">
                                        <h3>Youtube</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae voluptatum eius officiis, consequuntur placeat. Velit suscipit ullam repudiandae impedit voluptates rem aliquam eos ex placeat laboriosam architecto, nostrum culpa corporis atque cupiditate cum repellendus amet obcaecati sunt, neque aliquid perferendis quidem. Labore iste dolorem iusto consequuntur ab nostrum at inventore.</p>
                                       </div>   <div class="advan">
                                           <img src="/static/javascript.svg" alt="">
                                           <h3>TATA</h3>
                                           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae voluptatum eius officiis, consequuntur placeat. Velit suscipit ullam repudiandae impedit voluptates rem aliquam eos ex placeat laboriosam architecto, nostrum culpa corporis atque cupiditate cum repellendus amet obcaecati sunt, neque aliquid perferendis quidem. Labore iste dolorem iusto consequuntur ab nostrum at inventore.</p>
                                          </div>   <div class="advan">
                                              <img src="/static/javascript.svg" alt="">
                                              <h3>WhatsApp</h3>
                                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae voluptatum eius officiis, consequuntur placeat. Velit suscipit ullam repudiandae impedit voluptates rem aliquam eos ex placeat laboriosam architecto, nostrum culpa corporis atque cupiditate cum repellendus amet obcaecati sunt, neque aliquid perferendis quidem. Labore iste dolorem iusto consequuntur ab nostrum at inventore.</p>
                                             </div>   <div class="advan">
                                                 <img src="/static/javascript.svg" alt="">
                                                 <h3>Flipcart</h3>
                                                 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae voluptatum eius officiis, consequuntur placeat. Velit suscipit ullam repudiandae impedit voluptates rem aliquam eos ex placeat laboriosam architecto, nostrum culpa corporis atque cupiditate cum repellendus amet obcaecati sunt, neque aliquid perferendis quidem. Labore iste dolorem iusto consequuntur ab nostrum at inventore.</p>
                                                </div>   <div class="advan">
                                                    <img src="/static/javascript.svg" alt="">
                                                    <h3>Oracal</h3>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae voluptatum eius officiis, consequuntur placeat. Velit suscipit ullam repudiandae impedit voluptates rem aliquam eos ex placeat laboriosam architecto, nostrum culpa corporis atque cupiditate cum repellendus amet obcaecati sunt, neque aliquid perferendis quidem. Labore iste dolorem iusto consequuntur ab nostrum at inventore.</p>
                                                   </div>   <div class="advan">
                                                       <img src="/static/javascript.svg" alt="">
                                                       <h3>Thread</h3>
                                                       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae voluptatum eius officiis, consequuntur placeat. Velit suscipit ullam repudiandae impedit voluptates rem aliquam eos ex placeat laboriosam architecto, nostrum culpa corporis atque cupiditate cum repellendus amet obcaecati sunt, neque aliquid perferendis quidem. Labore iste dolorem iusto consequuntur ab nostrum at inventore.</p>
    </div></div>
  
 </section>